* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/img/bga.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    border: 1px solid white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: 50px;
    height: 50px;
}

.navbar a{
    position: relative;
    font-size: 1.1em;
    color: rgb(255, 253, 253);
    border: 2px solid #fff;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    padding: 10px 15px 10px 15px;
}


.navbar a:hover {
    color: #333;
    background-color: #fff;
    border-radius: 6px;
    transition: .5s ease-in-out;
}

.actived {
    color: #333!important;
    background-color: #fff !important;
}

.hero {
    width: 50%;
    left: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    position: fixed;
    color: #fff;

}

.btnProfile-popup {
    width: 130px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    transition: .5s ease-in-out;
}

.btnProfile-popup:hover {
    background-color: #fff;
    color: #333;
}

@media screen and (max-width:935px) {
    header {
        padding: 0 2em;
        padding-bottom: 10px;
    }

    img {
        margin-top: 10px;
    }

    nav {
        padding: 0 20px;
    }
}

@media screen and (max-width:1200px) {
    .hero {
        margin-left: 50px;
        font-size: .8em;
    }

    .btnProfile-popup {
        width: 110px;
        height: 45px;

    }
}

@media screen and (max-width:675px) {    
    header {
        /* background-color: #bebbbb81;
        border: 2px solid rgba(255,255,255,.5);
        box-shadow: 0 0 30px rgba(0, 0, 0, .5); */
        background-color: #333;
        padding-bottom: px;
    }
    
    .navbar {
        background: #333;
        /* background-color: #bebbbb81; */
        /* border-top: none;
        border: 2px solid rgba(255,255,255,.5);
        box-shadow: 0 0 30px rgba(0, 0, 0, .5); */
        display: grid;
        position: absolute;
        padding-left: 0px;
        padding-right: 100px;
        width: 100%;
        top: 70px;
        left: 0;
        transform: translateY(-150%);
        z-index: -1;
        transition: .6s;
}

    .navbar a {
        padding: 10px 10px 10px 20px;
        margin: 10px;
        border: none;
    }

    img {
        margin-top: 15px;
        margin-left: -10px;
    }

    .hero {
        width: 75%;
        left: 10px;
        font-size: 10px;
        margin-right: 0;
    }


.toggle {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

.bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10%;
    transition: .4s;
}

.btnProfile-popup {
    width: 100px;
    height: 40px;
}

}

input {
    display: none;
}

input:checked ~ .navbar {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}